.override {
    background-color: hsl(0, 0%, 2%);
    color: #ffffff;
    text-decoration: none;
    
}

/* Change navbar background color to black */
.navbar {
    background-color: #000000 !important;
}

/* Change navbar text color to white */
.navbar-nav .nav-link {
    color: #ffffff !important;
}

/* Change navbar toggle icon color to white */
.navbar-toggler-icon {
    background-color: #ffffff !important;
}
.btn1{
    color: #ffffff;
    border: 2px solid white;
}
.btn1:hover{
    color: #000000;
    background-color: #ffffff;
    border: 2px solid gray;

}
body{
    background-color: #F4DFC8;
    font-size: medium;
}
.btn2{
    color: #ffffff;

}
btn2:hover{
    color: #F4DFC8;
}
.no{
    text-decoration: none;
    color: #000;
}
.no:hover{
    color: gray;
    text-decoration: none;
}
.head{
    font-size: xx-large;
    font-weight: 700;
    font-style: italic;
}
#bld{
    font-weight: 600;
    font-size: x-large;
}
.mod-btn{
    text-decoration: none;
    border: 2px solid black;
    font-weight: 500;

}
.mod-btn:hover{
    text-decoration: none;
    border: 2px solid #000000;
    background-color: #000000;
    color: #FAF6F0;

}
.items{
   
}
.categories{
    height: 300px;
}

.box4 {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    gap: 60px;
    margin: 100px;
    color: black;
}
.picture{
    height: 300px;
    width: 400px;
}
.container{
    display:flex;
    justify-content:center;
    align-items:center; 
    width:100%;
    height:auto;
    font-size:12px;
}
image-box{
    height:220px;
    width:260px;
    border: 3px solid black;
}
.products{
    display:flex;
    justify-content: flex-start;
    gap:12px;
}
.bold{
    font-weight: 600;

}
.no-dec{
    list-style: none;
}
.bottom{
    
    
}
#bol{
    font-weight: 500;
}
.bg-override{
    background-color: #F4DFC8;
}

.cn{
    border: 2px solid black;
}