
body {
    background-color: #F4DFC8;
    font-size: medium;
}

.override {
    background-color: #000000;
    color: #ffffff;
}

/* Change navbar background color to black */
.navbar {
    background-color: #000000 !important;
}

/* Change navbar text color to white */
.navbar-nav .nav-link {
    color: #ffffff !important;
}

/* Change navbar toggle icon color to white */
.navbar-toggler-icon {
    background-color: #ffffff !important;
}

.btn1 {
    color: #ffffff;
    border: 2px solid white;
}

.btn2 {
    color: #ffffff;

}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid black; */
    height: auto;
    font-size: 12px;
    margin-top: 80px;
}

img {
    height: 343px;
    width: 403px;
    border: 3px solid black;
}

.products {
    display: flex;
    justify-content: space-around;
    gap: 12px;
    flex-wrap: wrap;
}

.cart {
    background-color: yellow;
    height: 40px;
    width: 150px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
}

.co {
    text-align: center;

}

h1 {
    background-color: rgb(17, 17, 66);
    color: azure;

}